<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Testimonials</title>
    <meta description='Testimonials Page for Portfolio App'>
    <meta charset='utf-8'/>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'myportfolio/styles.css' %}">
</head>
<body>
    <div id='wrapper'>
        <h1>Testimonials</h1>
        <h2 id="lefttest">"The best money I ever spent as hiring Brendan to create my website!"</h2>
        <h2 id="righttest">"Brendan's projects make the world a better place."</h2>
        <a href="/">Homepage</a>
    </div>
</body>
</html>